@import info.fotm.domain.{Axis, CharacterSnapshot}
@import info.fotm.aether.Storage

@(axis: Axis, c: CharacterSnapshot)

<a class="nolink" href='@routes.Application.charHistory(axis.region.slug, axis.bracket.slug, Storage.charIdBijection(c.id))'>
<img src='@routes.Assets.versioned(s"images/races/race_${c.view.raceId}_${c.view.genderId}.png")'/>
<img src='@routes.Assets.versioned(s"images/classes/class_${c.id.classId}.png")'/>
<img src='@routes.Assets.versioned(s"images/specs/spec_${c.view.specId}.png")'/>
<span>@c.id.name - @c.id.realmName</span>
</a>
