@import info.fotm.domain.Axis
@(title: String, axis: Axis, minutes: Int)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @socialMetas("Team PvP ladder for World of Warcraft",
      """
        | Flavor of the month PvP ladder for World of Warcraft.
        | Features most popular setups, players and game history.
      """.stripMargin,
      s"http://fotm.info${routes.Assets.versioned("images/preview2.png")}"
    )

    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

    <!-- Bootstrap -->
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/slate_bootstrap.min.css")'>

    <!-- My css -->
    <link rel="stylesheet" href='@routes.Assets.versioned("stylesheets/main.css")'>

    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49247455-8', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    @navigation(axis, minutes)

    <div class="container body-content">
      @navigationXS(axis, minutes)
      @content
    </div>

    @socialInit()
  </body>
</html>
