@import info.fotm.domain.Axis
@import info.fotm.domain.TeamSnapshot.SetupFilter

@(currentAxis: Axis, minutes: Int, setupFilter: SetupFilter)

<div class="col-lg-3 col-md-4 col-sm-5">
  <ul class="nav nav-pills">
  @for(bracket <- Axis.allBrackets) {
    <li class='@{ if(bracket == currentAxis.bracket) "active" else "" }'>
      <a href='@routes.Application.leaderboards(currentAxis.region.slug, bracket.slug, minutes, filters = DomainModels.filterToString(setupFilter))'>
        @bracket.slug
      </a>
    </li>
  }
  </ul>
</div>
