@import info.fotm.domain.Axis
@import info.fotm.domain.TeamSnapshot
@import info.fotm.domain.CharacterSnapshot

@(axis: Axis, teams: Seq[TeamSnapshot], chars: Seq[CharacterSnapshot], nMinutes: Int)

@main("FotM - playing now") {
  <h1>Playing Now</h1>
  <span>Showing @axis.region - @axis.bracket.slug for the past @nMinutes minutes</span>

  <div class="row">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
    @teamLadderView(teams)
    </div>
  </div>

  <h2>Unsorted players</h2>
  <div class="row">
    <div class="col-lg-6 col-md-7 col-sm-8 col-xs-9">
    @charsView(chars)
    </div>
  </div>
}

<script src='@routes.Assets.versioned("javascripts/playingNow.js")' type="text/javascript"></script>

