@(title: String, description: String, previewUrl: String)

<!-- FACEBOOK META TAGS -->
<meta property="og:type" content="website" />
<meta property="og:url" content="http://fotm.info" />
<meta property="og:title" content="@title" />
<meta property="og:description" content="@description" />
<meta property="og:image" content="@previewUrl" />
<meta property="og:site_name" content="FotM" />
<!-- /FACEBOOK META TAGS -->

<!-- TWITTER TAGS -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@@tagmg" />
<meta name="twitter:title" content="@title" />
<meta name="twitter:description" content="@description" />
<meta name="twitter:image" content="@previewUrl" />
<!-- /TWITTER TAGS -->

<!-- GOOGLE PLUS TAGS -->
<meta itemprop="name" content="@title">
<meta itemprop="description" content="@description">
<meta itemprop="image" content="@previewUrl">
<!-- /GOOGLE PLUS TAGS -->

