@import scala.collection.immutable.TreeMap
@import info.fotm.domain.{Axis, TeamSnapshot}
@import com.github.nscala_time.time.Imports._

@(axis: Axis, teams: TreeMap[DateTime, TeamSnapshot])

<table class="table table-striped table-condensed table-hover">
  <tbody>
    @for((time, snapshot) <- teams.toSeq.reverse) {
      <tr>
        @teamView(axis, snapshot)
        <td class="vcentered">
          <span class="time-container" data-timestamp="@time.getMillis()"></span>
        </td>
      </tr>
    }
  </tbody>
</table>
