.teamstats {
  white-space: nowrap;
  text-align: center;
}

.charcell {
  white-space: nowrap;
}

.centered {
  vertical-align: middle!important;
  text-align: center!important;
}

.vcentered {
  vertical-align: middle!important;
}

.nolink {
  text-decoration: none!important;
  color: inherit;
}

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th, table {
  border: none;
  background-color: inherit;
}

.hover-container {
  position: relative;
}

.hover-content {
  position: absolute;
  bottom: 0;
  right: 10px;
  display: none;
}

.bottom-right-content {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 10px;
  color: lightgray;
}

.hover-container:hover .hover-content {
  display: block;
}
